.Finished{
    background-color: bisque;
}
.Reading{
    background-color:coral;
}
.WantToRead{
    background-color: green;
}

.MyBookCard a{
    text-decoration: none;
    color:black
}
.MyBookCard a:hover{
    text-decoration: none;
    color:blue
}

.MyBookCard-description {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.MyBookCard-description-visible{  
    overflow: visible;
}

.read-button{
    border: none;
    background-color: white;
    font-size: x-small;
}
#categories{
    color:white;
}