.disabled{
    background-color: rgba(255,0,0,50);

    color:white;
}
.active{
    background-color: rgba(0,0,255,10);

    color:white;
}
.Finished:hover{
    background-color: bisque;

    color:white
}
.Reading:hover{
    background-color:coral;

    color:white
}
.WantToRead:hover{
    background-color: green;

    color:white
}

.BookCard a{
    text-decoration: none;
    color:black
}
.BookCard a:hover{
    text-decoration: none;
    color:blue
}

.BookCard-description {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.BookCard-description-visible{  
    overflow: visible;
}

.read-button{
    border: none;
    background-color: white;
    font-size: x-small;
}