.disabled{
    background-color: rgba(255,0,0,50);
    border-radius: 10%;
    color:white;
}
.active{
    background-color: rgba(0,0,255,10);
    border-radius: 10%;
    color:white;
}
.Finished:hover{
    background-color: bisque;
    border-radius: 10%;
    color:white
}
.Reading:hover{
    background-color:coral;
    border-radius: 10%;
    color:white
}
.WantToRead:hover{
    background-color: green;
    border-radius: 10%;
    color:white
}

.BookCard a{
    text-decoration: none;
    color:black
}
.BookCard a:hover{
    text-decoration: none;
    color:blue
}